.vscode
node_modules
wsgi_handler.py
.serverless
.serverless-wsgi
serverless_wsgi.py
.DS_Store
*.zip

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
#extension
extension/dist
extension/build
