[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
watchdog = "*"
argh = "*"
pyyaml = "*"

[packages]
flask = "*"
spacy = ">=3.4.4,<4.0.0"
spacytextblob = "*"
psutil = "*"
keybert = {extras = ["spacy"], version = "*"}
torch = "<1.13.0"
flask-limiter = "*"
werkzeug = "*"
gunicorn = "*"
redis = "*"

[requires]
python_version = "3.8"

[scripts]
python = "python"
docker = "docker-compose up"
app = "gunicorn -b :8000 -w 1 --threads 15 --log-level debug application"
flask = "env FLASK_APP=application FLASK_RUN_HOST=0.0.0.0 FLASK_RUN_PORT=8000 flask run"
dev = "watchmedo auto-restart --recursive -p '*.py;*.yaml' env FLASK_APP=application FLASK_DEBUG=1 FLASK_RUN_PORT=8000 TOKENIZERS_PARALLELISM=false flask run"
lint = "pylint application"
download = "./download.sh"
deploy = "eb deploy"
