[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
watchdog = "*"
argh = "*"
pyyaml = "*"

[packages]
flask = "*"
spacy = "==3.2.4"
en-core-web-sm = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl"}
spacytextblob = "*"

[requires]
python_version = "3.8"

[scripts]
python = "python"
app = "env FLASK_ENV=production FLASK_APP=application FLASK_RUN_HOST=0.0.0.0 FLASK_RUN_PORT=8000 flask run"
dev = "watchmedo auto-restart --recursive -p '*.py;*.yaml' env FLASK_APP=application FLASK_ENV=development FLASK_RUN_PORT=8000 flask run"
lint = "pylint app"
