container_commands:
  01_sh_executable:
    command: find .platform/hooks/ -type f -iname "*.sh" -exec chmod +x {} \;
  01_reload_nginx:
    # Ignoring because on initial run Nginx might be not running yet
    ignoreErrors: true
    command: killall -s HUP nginx
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application
    NumProcesses: 1
    NumThreads: 50
  aws:elasticbeanstalk:command:
    Timeout: 1200
  aws:elasticbeanstalk:application:environment:
    LOG_LEVEL: INFO
    FLASK_LOG_FILE_PATH: /var/log/app/flask.log
files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/flask.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/app/flask.log
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/flask.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/app/*.log
      /var/log/app/*.log.*
