option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application
    NumProcesses: 1
    NumThreads: 15

commands:
  command1:
    command: |
      pipenv run python -m spacy download en_core_web_sm
      pipenv run python -m spacy download en_core_web_md
      pipenv run python -m spacy download en_core_web_lg
      pipenv run python -m spacy download en_core_web_lg
      pipenv run python -m spacy download en_core_web_trf
      pipenv run python -m spacy download xx_ent_wiki_sm
      pipenv run python -m textblob.download_corpora
