container_commands:
  01_sh_executable:
    command: find .platform/hooks/ -type f -iname "*.sh" -exec chmod +x {} \;
  01_reload_nginx:
    # Ignoring because on initial run Nginx might be not running yet
    ignoreErrors: true
    command: killall -s HUP nginx
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application
    NumProcesses: 1
    NumThreads: 15
  aws:elasticbeanstalk:command:
    Timeout: 1200
  aws:elasticbeanstalk:application:environment:
    LOG_LEVEL: INFO
    FLASK_LOG_FILE_PATH: /var/log/app/flask.log
files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/flask.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/app/flask.log
  "/etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      proxy_connect_timeout 300;
      proxy_send_timeout    300;
      proxy_read_timeout    300;
      send_timeout          300;
      proxy_buffers         32 4k;
