html,
body {
  padding: 2em;
  margin: 2em auto;
  width: 900px;
  font-size: 16px;

  font-family: Open Sans, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
    sans-serif;
}

div.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 80vw;
  align-items: center;
  text-align: center;
  margin-left: 2em;
  margin-right: 2em;
}

form input,
form select,
form button,
form textarea {
  margin-bottom: 1em;
}

span.entity {
  border: 1px solid #d0d0d0;
  padding: 6px;
  display: inline-block;
  margin-bottom: 0.2em;
}

.entities {
  margin-top: 1em;
}

.entities .entity:only-child {
  font-weight: bold;
}

ul {
  width: 600px;
}
