<div>

    <h1>Article AI</h1>

    <p>
        <a href="https://spacy.io/">SpaCy</a> based article analytics API
    </p>

    <form method="POST" action="process">

        <div>
            <h2>Enter article text (or use this sample)</h3>
                <div>
                    <textarea class="text" rows="20" cols="70" style="height: 450px">Supply chain disruptions — triggered by factors including demand surges, high transportation costs and pandemic-related lockdowns — are expected to continue well into next year, experts predict. Companies are experiencing the brunt of the impact, with 36% of small businesses responding to a 2021 U.S. Census survey reporting that they’ve experienced delays with domestic suppliers. This has been costly. According to a 2020 Statista survey, 41% of executives in the automotive and transportation industry alone said their company lost $50 to $100 million due to supply chain issues, a figure which has likely climbed higher since.

There’s no easy fix, but an emerging cohort of startups is pitching software as a way to potentially anticipate — and respond to — market shocks. One, Tive, provides supply chain visibility insights that ostensibly help companies manage their in-transit shipments’ location and condition. Tive today announced that it raised $54 million in a Series B financing round led by AXA Venture Partners with participation from Sorenson Capital, Qualcomm Ventures, Fifth Wall, SJF Ventures and Floating Point Ventures, which CEO Krenar Komoni's article attributes to the company’s growth over the past year.
</textarea>
                </div>
                <div><a href="#" id="addNewTextButton">Add new</a></div>
        </div>


        <div>
            <h2>Pick model</h3>
                <select id="model">
                    <option value="en_core_web_sm">English, small</option>
                    <option value="en_core_web_md">English, medium</option>
                    <option value="en_core_web_lg">English, large</option>
                    <option value="en_core_web_trf">English (roberta-base)</option>
                    <option value="xx_ent_wiki_sm">Multi-language (NER)</option>
                </select>
        </div>

        <button id="processButton">Process</button><a href="#" id="overloadButton"
            style="text-decoration: none; color: white">.</a>
        <div id="result"></div>
    </form>


    <script type="module">
        const logger = console;
        logger.verbose = console.info;
        logger.isVerbose = false;

        const batch = async (list, executor, concurrencyLimit) => {
            const activeTasks = [];
            const LOG_THRESHOLD = 100
            let queued = 0

            for (const item of list) {
                while (activeTasks.length >= concurrencyLimit) {
                    await Promise.all(activeTasks);
                }

                logger.isVerbose && logger.verbose(`Start task: ${item}`);
                const activeTask = new Promise((resolve, reject) => {
                    try {
                        executor(item).then(resolve).catch(reject);
                    } catch (e) {
                        logger.warn("Batch reject", e)
                        reject(e);
                    }
                })
                    .then(() => {
                        activeTasks.splice(activeTasks.indexOf(activeTask), 1);
                        logger.isVerbose && logger.verbose(`End task: ${item}`);
                    })
                    .catch((error) => {
                        activeTasks.splice(activeTasks.indexOf(activeTask), 1);
                        logger.isVerbose && logger.verbose(`End task: ${item}`, error);
                        throw error;
                    });

                activeTasks.push(activeTask);
                queued++
                if (queued % LOG_THRESHOLD === 0 && queued > 0) {
                    logger.info("Processed", queued, "items in batch")
                }
            }

            if (activeTasks.length > 0) {
                await Promise.all(activeTasks);
            }
        };

        const button = document.getElementById("processButton")
        const overloadButton = document.getElementById("overloadButton")
        const addNewTextButton = document.getElementById("addNewTextButton")

        addNewTextButton.addEventListener("click", async (event) => {
            event.stopPropagation();
            event.preventDefault();
            const all = Array.from(document.querySelectorAll("textarea.text"))
            const last = all[all.length - 1]
            const add = document.createElement("textarea")
            add.className = "text"
            add.rows = 20;
            add.cols = 70;
            add.style = "height: 450px"
            add.value = last.value
            last.parentElement.append(add)
        })

        overloadButton.addEventListener("click", async (event) => {
            event.stopPropagation();
            event.preventDefault();
            const texts = Array.from(document.querySelectorAll("textarea.text")).map(t => t.value)
            const model = document.getElementById("model").value
            const total = 1000
            const start = Date.now()
            await batch("*".repeat(total).split(""), async () => {
                const response = await fetch("/process", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        model,
                        texts
                    })
                }).then(response => response.json())
                return response
            }, 100)
            const elapsed = Date.now() - start
            logger.info("Processed", total, "in", elapsed, "ms", elapsed / total, "ms/query")
        })

        button.addEventListener("click", async (event) => {
            event.stopPropagation();
            event.preventDefault();
            const texts = Array.from(document.querySelectorAll("textarea.text")).map(t => t.value)
            const model = document.getElementById("model").value
            const request = {
                model,
                texts
            }
            console.info("Sending", request)
            const response = await fetch("/process", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(request)
            }).then(response => response.json())
            console.info("Response", response)
            const result = document.getElementById("result")
            let str = ""
            response.forEach((doc, index) => {
                str += "<div class=\"doc\">"
                str += "<h2>Document entities (document " + index + ")</h3>";
                str += "<i>A named entity is a “real-world object” that’s assigned a name – for example, a person, a country, a product or a book title. spaCy can recognize various types of named entities in a document, by asking the model for a prediction. </i>"
                let ents = doc.ents.map(e => ({ text: e.text, label: e.label }))
                ents = ents.filter((e, index) => ents.findIndex(ee => ee.text === e.text) === index)
                const mapped = {}
                ents.forEach(e => {
                    if (!mapped[e.label]) {
                        mapped[e.label] = []
                    }
                    mapped[e.label].push(e.text)
                })

                str += "<ul>"
                Object.keys(mapped).sort().forEach(label => {
                    const value = mapped[label]
                    str += "<li class=\"entity\"><b>" + label + "</b>: " + value.sort().join(", ") + "</li>";
                })
                str += "</ul>"

                if (doc.similarity) {
                    str += "<h2>Similarity</h2>"
                    str += "<div class=\"entities\">"
                    str += "<span class=\"entity\">" + doc.similarity + "</span>"
                    str += "</div>"
                }

                if (doc.score) {
                    str += "<h2>Score</h2>"
                    str += "<div class=\"entities\">"
                    str += "<span class=\"entity\">" + doc.score + "</span>"
                    str += "</div>"
                }

                if (doc.sentiment) {
                    str += "<h2>Sentiment</h2>"
                    str += "<div class=\"entities\">"
                    str += "<span class=\"entity\">" + doc.sentiment + "</span>"
                    str += "</div>"
                }

                if (doc.subjectivity) {
                    str += "<h2>Subjectivity</h2>"
                    str += "<i>Subjectivity is a float value within the range [0.0 to 1.0] where 0.0 is very objective and 1.0 is very subjective. Subjective sentence expresses some personal feelings, views, beliefs, opinions, allegations, desires, beliefs, suspicions, and speculations where as Objective sentences are factual.</i>"
                    str += "<div class=\"entities\">"
                    str += "<span class=\"entity\">" + doc.subjectivity + "</span>"
                    str += "</div>"
                }

                if (doc.polarity) {
                    str += "<h2>Polarity</h2>"
                    str += "<i>Polarity is a float value within the range [-1.0 to 1.0] where 0 indicates neutral, +1 indicates a very positive sentiment and -1 represents a very negative sentiment.</i>"
                    str += "<div class=\"entities\">"
                    str += "<span class=\"entity\">" + doc.polarity + "</span>"
                    str += "</div>"
                }


                if (doc.keywords) {
                    str += "<h2>Keywords</h2>"
                    str += "<div class=\"entities\">"
                    doc.keywords.forEach(keyword => {
                        str += "<span class=\"entity\">" + keyword + "</span> "
                    })
                    str += "</div>"
                }

                str += "</div>"
            })
            result.innerHTML = str;
        })
    </script>
</div>